@font-face {
    font-family: Vazir;
    src: url('../font/Vazir.woff2') format('woff2');
    font-weight: normal;
}

/* reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Vazir
}
input{
    outline: none;
    border: none;
}
.jf-button {
    background-color: aquamarine;
    outline: none;
    border: none;
    box-shadow: 0 5px 5px rgb(213, 213, 213);
    cursor: pointer;
  }
  form p {
    color: red;
    font-size: 0.8rem;
    direction: rtl;
  }
  .shadowError {
    box-shadow: 0 7px 25px rgba(250, 93, 93, 0.689);
  }
  .shadowSucces {
    box-shadow: 0 7px 25px rgba(130, 255, 102, 0.608);
  }
  .main-content {
    transition: 0.3s;
  }
  .login-form {
    position: absolute;
    width: 60%;
    padding:60px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #edecec;
    border-radius: 12px;
  }

  h1{
    text-align: center;

  }
  form {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }

  form > * {
    padding: 15px 10px;
    border-radius: 8px;
  }